body {
    font-family: sans-serif;
    text-align: center;
    background: #f0f0f0;
}
input, button {
    padding: 10px;
    margin: 10px;
}
body.light-mode {
  color: #000;
  background-color: #fff;
}

body.dark-mode {
  color: #fff;
  background-color: #1e1e1e;
}

#mode-toggle {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
